<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" style="transition: .5s;">
        <li>
            <p>วิชา1:</p>
            <p><input type="text" name="subject1" placeholder="ชื่อวิชา" /></p>
            <p><input type="text" name="cal1" placeholder="คะแนน" /></p>
        </li>
        <li>
            <p>วิชา2:</p>
            <p><input type="text" name="subject2" placeholder="ชื่อวิชา" /></p>
            <p><input type="text" name="cal2" placeholder="คะแนน" /></p>
        </li>
        <li>
            <p>วิชา3:</p>
            <p><input type="text" name="subject3" placeholder="ชื่อวิชา" /></p>
            <p><input type="text" name="cal3" placeholder="คะแนน" /></p>
        </li>
        <li>
            <p>วิชา4:</p>
            <p><input type="text" name="subject4" placeholder="ชื่อวิชา"/></p>
            <p><input type="text" name="cal4" placeholder="คะแนน" /></p>
        </li>
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>